<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <link href="{% static "assets/global/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>

</body>
</html>