{% extends "base.html" %}
{% load staticfiles %}
{% load sitetree %}
{% load crispy_forms_tags %}

{% block content %}
<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-basket"></i>
            {% if object.id %}
            <span class="caption-subject font-blue-ebonyclay sbold">Atualizar Operação #{{ object.code }} | {{ object.description }}</span>
            {% else %}
            <span class="caption-subject font-blue-ebonyclay sbold">Cadastro de Operação </span>
            {% endif %}
        </div>
            <ul class="nav nav-tabs">
                {% if object.id %}
                <li>
                    <a href="#portlet_tab_cfop" data-toggle="tab"> CFOP </a>
                </li>
                {% endif %}
                <li class="active">
                    <a href="#portlet_tab_general" data-toggle="tab"> Informações Gerais </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body form">
            <form method="post" >
                <div class="tab-content">
                    <div class="tab-pane active" id="portlet_tab_general">
                        {% crispy form %}
                    </div>
                    {% if object.id %}
                    <div class="tab-pane" id="portlet_tab_cfop">
                        {{ cfopformset.management_form }}
                        <h4 class="form-section">Listagem de CFOP</h4>
                        <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
                            <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn btn-success add-cfop">
                            <i class="fa fa-plus"></i> Incluir CFOP </a>
                        </div>
                        <div class="row"><div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12"></div></div>
                        {% include 'metronic/table_inline_formset_nextify.html' with formset=cfopformset helper=cfopformset_helper %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" name="save" value="Salvar" class="btn btn-primary btn green" id="submit-id-submit"/>
                                    <input type="submit" name="save-add" value="Salvar e Cadastrar um novo" class="btn btn-primary btn blue-hoki" id="submit-id-submit"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>

            </form>
        </div>
</div>
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
    {% if object.id %}
    <script src={% static "assets/apps/nextify/scripts/operation/operation.form.js" %} type="text/javascript"></script>
    <script type="text/html" id="cfop_template">
    {% include 'metronic/table_inline_formset_nextify_empty.html' with form=cfopformset.empty_form helper=cfopformset_helper %}
    </script>
{% endif %}
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
<link href={% static "assets/global/plugins/select2/select2.css" %} rel="stylesheet" type="text/css"/>
<link href={% static "assets/global/plugins/select2/select2-bootstrap.css" %} rel="stylesheet" type="text/css"/>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
<script type="text/javascript" src={% static "assets/global/plugins/select2/select2.min.js" %}></script>
{% endblock %}