{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load dictionary %}

{% block content %}
<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-basket"></i>
            {% if object.id %}
            <span class="caption-subject font-blue-ebonyclay sbold">Atualizar Fatura #{{ object.invoice_number }}</span>
            {% else %}
            <span class="caption-subject font-blue-ebonyclay sbold">Cadastro de Fatura </span>
            {% endif %}
        </div>
        <ul class="nav nav-tabs">
            {% if object.id %}
            <li class="{{ active|get_item:'formset_duplicates' }}">
                <a href="#portlet_tab_duplicates" data-toggle="tab"> Parcelas </a>
            </li>
            {% endif %}
            <li class="{{ active|get_item:'form' }}">
                <a href="#portlet_tab_general" data-toggle="tab"> Fatura </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body form">
        <form method="post" >
            <div class="tab-content">
                <div class="tab-pane {{ active|get_item:'form' }}" id="portlet_tab_general">
                    {% crispy form %}
                </div>
                {% if object.id %}
                <input type="hidden" value="{{ object.id }}" id="product_id">
                <div class="tab-pane {{ active|get_item:'formset_duplicates' }}" id="portlet_tab_duplicates">
                    {{ formset_duplicates.management_form }}
                    <h4 class="form-section">Listagem de Parcelas</h4>
                    <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
                        <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn btn-success add-duplicate">
                        <i class="fa fa-plus"></i> Incluir Parcela </a>
                    </div>
                    <div class="row"><div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12"></div></div>
                    {% include 'metronic/table_inline_formset_nextify.html' with formset=formset_duplicates helper=invoiceduplicates_helper %}
                </div>
                {% endif %}
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" name="submit" value="Salvar" class="btn btn-primary btn green" id="submit-id-submit"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
<script type="text/javascript" src={% static "assets/global/plugins/select2/select2.min.js" %}></script>
<script src={% static "assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %} type="text/javascript"></script>
{% if object.id %}
<script src={% static "assets/global/plugins/js.cookie.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/scripts/datatable_custom.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/datatables/datatables.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %} type="text/javascript"></script>
{% endif %}
<script src={% static "assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" %} type="text/javascript"></script>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
<link href={% static "assets/global/plugins/select2/select2.css" %} rel="stylesheet" type="text/css"/>
<link href={% static "assets/global/plugins/select2/select2-bootstrap.css" %} rel="stylesheet" type="text/css"/>
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
<script src={% static "assets/apps/nextify/scripts/document/invoice/invoice.js" %} type="text/javascript"></script>
{% if object.id %}
<script type="text/html" id="invoiceduplicate_template">
{% include 'metronic/table_inline_formset_nextify_empty.html' with form=formset_duplicates.empty_form helper=invoiceduplicates_helper %}
</script>
{% endif %}
{% endblock %}
