

{% for group_name, group_choices in optgroups %}
    {% for option in group_choices %}
        {% if option.0 in value %}
            <p class="form-control-static">{{ option.1 }}</p>
            <input type="hidden" name="{{ name }}" {% include "nextforms/attrs.html" %} value="{{ option.0 }}" />
        {% endif %}
    {% endfor %}
{% endfor %}
{#<input type="hidden" name="%s" value="%s" />' % (name, value)#}
{##}
{#<select name="{{ name }}"{% if multiple %} multiple="multiple"{% endif %}{% if required %} required{% endif %}{% include "nextforms/attrs.html" %}>#}
{#    {% for group_name, group_choices in optgroups %}{% if group_name %}#}
{#	<optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}#}
{#	<option value="{{ option.0 }}"{% if option.0 in value %} selected="selected"{% endif %}>{{ option.1 }}</option>{% endfor %}{% if group_name %}#}
{#	</optgroup>{% endif %}{% endfor %}#}
{#</select>#}
