{% extends "base.html" %}
{% load staticfiles %}
{% load sitetree %}
{% load crispy_forms_tags %}

{% block content %}
<div class="portlet light bordered">
    {% sitetree_portlet from "maintree" %}
    <div class="portlet-body form">
        {% crispy form %}
    </div>
</div>
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
{% endblock %}