{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load sitetree %}
{% load dictionary %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tab-pane">
            <div class="portlet light bordered">
{#                {% sitetree_portlet from "maintree" %}#}
                <div class="portlet-title">
                <div class="caption">
                    <i class="icon-book-open"></i>
                    {% if object.id %}
                    <span class="caption-subject font-blue-ebonyclay sbold">{{ object.portlet }}</span>
                    {% else %}
                    <span class="caption-subject font-blue-ebonyclay sbold">Cadastro de Nota Fiscal </span>
                    {% endif %}
                </div>

                {% if object.id %}
                <div class="actions">
                    {% if object.nfe_status_id == 100 %}
                        <form method="post" action="{% url 'nfce:event' %}">
                        {% csrf_token %}
                        <input type="hidden" name="nfe_id" value="{{ object.id }}">
                        <button class="btn btn-sm red-mint" name="cancel"><i class="fa fa-close"></i> Cancelar NFe </button>
{#                        <button class="btn btn-sm green-meadow" name="cce"><i class="fa fa-check"></i> Carta de Correção </button>#}
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'nfce:finalize' object.id %}">
                            {% csrf_token %}
                            {% if object.document_status == 0 %}
                            <button class="btn dark" name="finalize"><i class="fa fa-check"></i> Finalizar </button>
                            {% elif object.document_status == 1 %}
                            <button class="btn dark" name="reopen"><i class="fa fa-check"></i> Reabrir </button>
                            {% endif %}

                        </form>
                    {% endif %}
                </div>
                {% endif %}

            </div>
                <div class="portlet-body form">
                    <form method="post">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs nav-tabs-lg">
                            <li class="{{ active|get_item:'form' }}">
                                <a href="#tab_nfe" data-toggle="tab"> NFe </a>
                            </li>
                            {% if object.id %}
                             <li class="{{ active|get_item:'formset_lines' }}">
                                <a href="#tab_product" data-toggle="tab"> Produtos </a>
                            </li>
                            <li class="{{ active|get_item:'form_person' }}">
                                <a href="#tab_issuer" data-toggle="tab"> Remetente/Destinatário </a>
                            </li>
                            <li class="{{ active|get_item:'formset_invoices' }}">
                                <a href="#tab_invoices" data-toggle="tab"> Faturas </a>
                            </li>
                            {%  if formset_shipping %}
                            <li class="{{ active|get_item:'formset_shipping' }}">
                                <a href="#tab_shipping" data-toggle="tab"> Transporte </a>
                            </li>
                            {% endif %}
                            {%  if formset_shipping %}
                            <li class="{{ active|get_item:'formset_volumes' }}">
                                <a href="#tab_volumes" data-toggle="tab"> Volumes </a>
                            </li>
                            {% endif %}
                            {%  if form_complementary_information %}
                            <li class="{{ active|get_item:'formset_invoices' }}">
                                <a href="#tab_complementary_info" data-toggle="tab"> Informações Complementares </a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="#tab_totals" data-toggle="tab"> Totais </a>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane {{ active|get_item:'form' }}" id="tab_nfe">
                                <div class="row">
                                    <div class="col-md-12">
                                    {% crispy form %}
                                        </div>
                                </div>
                            </div>
                            {% if object.id %}
                            <div class="tab-pane {{ active|get_item:'formset_lines' }}" id="tab_product">
                                {{ form_lines.management_form }}
                                <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
                                    <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn btn-success add-product">
                                    <i class="fa fa-plus"></i> Incluir Produto </a>
                                </div>
                                <div class="row"><div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12"></div></div>
                                {% include 'metronic/table_inline_formset_nextify.html' with formset=form_lines helper=lines_helper %}
                            </div>
                            <div class="tab-pane {{ active|get_item:'form_person' }}" id="tab_issuer">
                                {{ form_person.management_form }}
                                {% crispy form_person.0 %}
                            </div>
                            <div class="tab-pane {{ active|get_item:'formset_invoices' }}" id="tab_invoices">
                                {{ form_invoices.management_form }}
                                <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
                                    <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn btn-success add-invoice">
                                    <i class="fa fa-plus"></i> Incluir Parcela </a>
                                </div>
                                <div class="row"><div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12"></div></div>
                                {% include 'metronic/table_inline_formset_nextify.html' with formset=form_invoices helper=invoices_helper %}
                            </div>
                            {%  if formset_shipping %}
                            <div class="tab-pane {{ active|get_item:'formset_shipping' }}" id="tab_shipping">
                                {{ formset_shipping.management_form }}
                                {% crispy formset_shipping.0 %}
                            </div>
                            {% endif %}
                            {%  if formset_volumes %}
                            <div class="tab-pane {{ active|get_item:'formset_volumes' }}" id="tab_volumes">
                                {{ formset_volumes.management_form }}
                                <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
                                    <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn btn-success add-volume">
                                    <i class="fa fa-plus"></i> Incluir Volume </a>
                                </div>
                                <div class="row"><div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12"></div></div>
                                {% include 'metronic/table_inline_formset_nextify.html' with formset=formset_volumes helper=volumes_helper %}
                            </div>
                            {% endif %}
                            {%  if form_complementary_information %}
                            <div class="tab-pane {{ active|get_item:'form_complementary_information' }}" id="tab_complementary_info">
                                {{ form_complementary_information.management_form }}
                                {% crispy form_complementary_information.0 %}
                            </div>
                            {% endif %}

                            <div class="tab-pane" id="tab_totals">
                                {% include 'document/nfe/nfe_totals.html' %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row"> <div class="col-md-6"> <div class="row"> <div class="col-md-offset-3 col-md-9">
                            <input type="submit" name="submit" value="Salvar" class="btn btn-primary btn green" id="submit-id-submit" />
                        </div></div> </div> </div>
                        <div class="col-md-6"></div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
{% if object.id %}
    <link href={% static "assets/global/plugins/datatables/datatables.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" %} rel="stylesheet" type="text/css" />
{% endif %}
<link href={% static "assets/global/plugins/select2/select2.css" %} rel="stylesheet" type="text/css"/>
<link href={% static "assets/global/plugins/select2/select2-bootstrap.css" %} rel="stylesheet" type="text/css"/>
<link href={% static "assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
<script src={% static "assets/global/plugins/select2/select2.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %} type="text/javascript"></script>
{% if object.id %}
    <script src={% static "assets/global/plugins/js.cookie.min.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/scripts/datatable_custom.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/plugins/datatables/datatables.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %} type="text/javascript"></script>
{% endif %}
<script src={% static "assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" %} type="text/javascript"></script>
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
<script src={% static "assets/apps/nextify/scripts/document/nfe/nfe.in.select2.js" %} type="text/javascript"></script>
{% if object.id %}
    <script type="text/html" id="nfeline_template">
    {% include 'metronic/table_inline_formset_nextify_empty.html' with form=form_lines.empty_form helper=lines_helper %}
    </script>
    <script type="text/html" id="invoice_template">
    {% include 'metronic/table_inline_formset_nextify_empty.html' with form=form_invoices.empty_form helper=invoices_helper %}
    </script>
    {% if formset_volumes %}
    <script type="text/html" id="volumes_template">
    {% include 'metronic/table_inline_formset_nextify_empty.html' with form=formset_volumes.empty_form helper=volumes_helper %}
    </script>
    {% endif %}
{% endif %}
{% endblock %}