{% extends "base.html" %}
{% load staticfiles %}
{% load sitetree %}
{% load crispy_forms_tags %}

{% block content %}
<div class="portlet light bordered">
    {% sitetree_portlet from "maintree" %}
    <div class="portlet-body form">
        <form class="form-horizontal" method="post" action="{% url 'nfce:create' %}">
            <div class="form-body">
                <div class="form-group">
                    {% csrf_token %}
                    <label class="col-md-3 control-label">Selecione a Operação: </label>
                    <div class="col-md-8">
                        <div class="input-group">{{ nfeoperation_form.operation }}
                        <span class="input-group-btn"><button class="btn btn-info"><i class="fa fa-plus"></i> Emitir NF-e/NFC-e</button></span>
                        </div>
                    </div>

                </div>
            </div>


        </form>
    </div>
</div>
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
<script type="text/javascript" src={% static "assets/global/plugins/select2/select2.min.js" %}></script>
<script src={% static "assets/apps/nextify/scripts/document/nfe/nfe.issue.js" %} type="text/javascript"></script>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
<link href={% static "assets/global/plugins/datatables/datatables.min.css" %} rel="stylesheet" type="text/css" />
<link href={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" %} rel="stylesheet" type="text/css" />
<link href={% static "assets/global/plugins/select2/select2.css" %} rel="stylesheet" type="text/css"/>
<link href={% static "assets/global/plugins/select2/select2-bootstrap.css" %} rel="stylesheet" type="text/css"/>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
<script src={% static "assets/global/plugins/js.cookie.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/scripts/datatable_custom.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/datatables/datatables.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %} type="text/javascript"></script>
{% endblock %}

