<div
{% if formactions.attrs %} {{ formactions.flat_attrs|safe }}{% endif %} class="form-actions">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    {{ fields_output|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>
