{% block content %}
    <div class="input-group">
    <input type="{{ type }}" name="{{ name }}"{% if value %} value="{{ value }}"{% endif %}{% if required %} required{% endif %}{% include "nextforms/attrs.html" %}{% if datalist %} list="{{ attrs.id }}_list"{% endif %}>
<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
{% endblock %}

