{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load sitetree %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tab-pane">
            <div class="portlet light bordered">
                {% sitetree_portlet from "maintree" %}
                <div class="portlet-body form">
                    {% crispy form %}
                </div>
            </div>
            {% if object.id %}
            {% include "address/supplieraddress_list.html" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
{% if object.id %}
    <link href={% static "assets/global/plugins/datatables/datatables.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" %} rel="stylesheet" type="text/css" />
{% endif %}
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
{% if object.id %}
    <script src={% static "assets/global/plugins/js.cookie.min.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/scripts/datatable_custom.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/plugins/datatables/datatables.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %} type="text/javascript"></script>
{% endif %}
<script src={% static "assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" %} type="text/javascript"></script>
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
<script src={% static "assets/apps/nextify/scripts/person/person.form.js" %} type="text/javascript"></script>
{% endblock %}