{% load staticfiles %}
{% load sitetree %}
<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 4.5.4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Metronic | Fixed Footer</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href={% static "assets/global/plugins/font-awesome/css/font-awesome.css" %} rel="stylesheet" type="text/css" />
        <link href={% static "assets/global/plugins/simple-line-icons/simple-line-icons.css" %} rel="stylesheet" type="text/css" />
        <link href={% static "assets/global/plugins/bootstrap/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" />
        <link href={% static "assets/global/plugins/uniform/css/uniform.default.css" %} rel="stylesheet" type="text/css" />
        <link href={% static "assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" %} rel="stylesheet" type="text/css" />
        <link href={% static "assets/global/css/nextify.css" %} rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        {% block PAGE_LEVEL_PLUGINS_CSS %} {% endblock %}
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href={% static "assets/global/css/components.min.css" %} rel="stylesheet" id="style_components" type="text/css" />
        <link href={% static "assets/global/css/plugins.min.css" %} rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href={% static "assets/layouts/layout4/css/layout.min.css" %} rel="stylesheet" type="text/css" />
        <link href={% static "assets/layouts/layout4/css/themes/default.min.css" %} rel="stylesheet" type="text/css" id="style_color" />
        <link href={% static "assets/layouts/layout4/css/custom.min.css" %} rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
{#        <link rel="shortcut icon" href={% static "favicon.ico" %} /> #}
    </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid page-header-fixed page-footer-fixed page-sidebar-closed-hide-logo">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <img src={% static "assets/layouts/layout4/img/logo-light.png" %} alt="logo" class="logo-default" /> </a>
                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN PAGE ACTIONS -->
                <!-- DOC: Remove "hide" class to enable the page header actions -->
{#                <div class="page-actions">#}
{#                    <div class="btn-group">#}
{#                        <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">#}
{#                            <span class="hidden-sm hidden-xs">Actions&nbsp;</span>#}
{#                            <i class="fa fa-angle-down"></i>#}
{#                        </button>#}
{#                        <ul class="dropdown-menu" role="menu">#}
{#                            <li>#}
{#                                <a href="javascript:;">#}
{#                                    <i class="icon-docs"></i> New Post </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="javascript:;">#}
{#                                    <i class="icon-tag"></i> New Comment </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="javascript:;">#}
{#                                    <i class="icon-share"></i> Share </a>#}
{#                            </li>#}
{#                            <li class="divider"> </li>#}
{#                            <li>#}
{#                                <a href="javascript:;">#}
{#                                    <i class="icon-flag"></i> Comments#}
{#                                    <span class="badge badge-success">4</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="javascript:;">#}
{#                                    <i class="icon-users"></i> Feedbacks#}
{#                                    <span class="badge badge-danger">2</span>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
                <!-- END PAGE ACTIONS -->
                <!-- BEGIN PAGE TOP -->
                <div class="page-top">
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
{#                    <form class="search-form" action="page_general_search_2.html" method="GET">#}
{#                        <div class="input-group">#}
{#                            <input type="text" class="form-control input-sm" placeholder="Search..." name="query">#}
{#                            <span class="input-group-btn">#}
{#                                <a href="javascript:;" class="btn submit">#}
{#                                    <i class="icon-magnifier"></i>#}
{#                                </a>#}
{#                            </span>#}
{#                        </div>#}
{#                    </form>#}
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    {% include "top_menu.html" %}
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    {% include "sidebar_menu.html" %}
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">


                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
{#                        <div class="page-title">#}
{#                            <h1>Fixed Footer#}
{#                                <small>fixed footer option</small>#}
{#                            </h1>#}
{#                        </div>#}
                        {% include 'page_hint_description.html' %}
                        <!-- END PAGE TITLE -->

                        <!-- BEGIN PAGE TOOLBAR -->
                        <div class="page-toolbar">
{#                            <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">#}
{#                                <i class="icon-calendar"></i>&nbsp;#}
{#                                <span class="thin uppercase hidden-xs"></span>&nbsp;#}
{#                                <i class="fa fa-angle-down"></i>#}
{#                            </div>#}
                            <!-- BEGIN THEME PANEL -->
{#                            {% include "theme_panel.html" %}#}
                            <!-- END THEME PANEL -->
                        </div>
                        <!-- END PAGE TOOLBAR -->
                    </div>
                    <!-- END PAGE HEAD-->

                    <!-- BEGIN PAGE BREADCRUMB -->
                    {% sitetree_breadcrumbs from "maintree" %}
                    <!-- END PAGE BREADCRUMB -->

                    <!-- BEGIN MESSAGE CONTENT -->
                    {% include 'messages.html' %}
                    <!-- END MESSAGE CONTENT -->



                    <!-- BEGIN PAGE BASE CONTENT -->
                    {% block content %}{% endblock %}
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
{#            {% include "sidebar.html" %}#}
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        {% include "footer.html" %}
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="{% static "assets/global/plugins/respond.min.js" %}"></script>
<script src="{%  static "assets/global/plugins/excanvas.min.js" %}"></script>
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src={% static "assets/global/plugins/jquery.min.js" %} type="text/javascript"></script>
        <script src={% static "assets/global/plugins/bootstrap/js/bootstrap.min.js" %} type="text/javascript"></script>
        <script src={% static "assets/global/plugins/js.cookie.min.js" %} type="text/javascript"></script>
        <script src={% static "assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" %} type="text/javascript"></script>
        <script src={% static "assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %} type="text/javascript"></script>
        <script src={% static "assets/global/plugins/jquery.blockui.min.js" %} type="text/javascript"></script>
        <script src={% static "assets/global/plugins/uniform/jquery.uniform.min.js" %} type="text/javascript"></script>
        <script src={% static "assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" %} type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        {% block PAGE_LEVEL_PLUGINS %} {% endblock %}
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
{#        <script src={% static "assets/global/scripts/app.min.js" %} type="text/javascript"></script>#}
        <script src={% static "assets/global/scripts/app.js" %} type="text/javascript"></script>
        <script src={% static "assets/apps/nextify/scripts/nextify.app.js" %} type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        {% block PAGE_LEVEL_SCRIPTS %} {% endblock %}
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src={% static "assets/layouts/layout4/scripts/layout.min.js" %} type="text/javascript"></script>
        <script src={% static "assets/layouts/layout4/scripts/demo.min.js" %} type="text/javascript"></script>
        <script src={% static "assets/layouts/global/scripts/quick-sidebar.min.js" %} type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
    </body>

</html>