{% if TEST_ENVIRONMENT %}
<div class="note note-warning">
        <p> AMBIENTE DE TESTES. </p>
</div>
{% endif %}
{% if messages %}
    {% for message in messages %}
        <div class="note note-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}success{% endif %}">
                <p> {{ message }} </p>
        </div>
    {% endfor %}
{% endif %}