{% load sitetree %}
{% if sitetree_items|length_is:"1" %}
{% else %}
<div class="portlet-title">
    <div class="caption">
    {% for item in sitetree_items %}
        {% if forloop.last %}
        <i class="{{ item.tree_icon.css_class }} font-blue-ebonyclay"></i>
        <span class="caption-subject font-blue-ebonyclay sbold"> {% sitetree_portlet_title from "maintree" %} </span>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}