{% load sitetree %}
{#<ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">#}
{#    <li class="nav-item start active">#}
{#        <a href="javascript:;" class="nav-link nav-toggle">#}
{#            <i class="icon-home"></i>#}
{#            <span class="title">Dashboard</span>#}
{#            <span class="arrow"></span>#}
{#        </a>#}
{#        <ul class="sub-menu">#}
{#            <li class="nav-item active ">#}
{#                <a href="index.html" class="nav-link ">#}
{#                    <i class="icon-bar-chart"></i>#}
{#                    <span class="title">NF-e/NFC-e</span>#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
{#    </li>#}
{# </ul>#}

{% sitetree_menu from "maintree" include "trunk" %}