{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
{#<div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">#}
{#    <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn btn-success add-supplier">#}
{#        <i class="fa fa-plus"></i> Incluir Fornecedor </a>#}
{#</div>#}
{#<div class="row">#}
{#    <div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12"> </div>#}
{#</div>#}
{% for form in formset %}
    {% if  form.errors %}
        {% if form_show_errors and not form.is_extra %}
            {% include "metronic/errors.html" %}
        {% endif %}

        {% for field in form %}
            {% include 'metronic/field.html' with form_show_labels=False %}
        {% endfor %}
    {% endif %}
{% endfor %}

{% for form in formset %}
    {% if not form.errors %}
        {% crispy form %}
    {% endif %}
{% endfor %}

{% include "metronic/inputs.html" %}

{#{% if formset_tag %}</form>{% endif %}#}
{% endspecialspaceless %}
