{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
<div class="table-container">
    <table{% if helper.form_id %} id="{{ helper.form_id }}_table"{% endif%} class="table table-striped table-bordered table-hover">
        <thead>
            {% if formset.readonly and not formset.queryset.exists %}
            {% else %}
                <tr role="row" class="heading">
                    {% for field in formset.forms.0 %}
                        {% if field.label and not field|is_checkbox and not field.is_hidden %}
                            <th for="{{ field.auto_id }}">
                                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for form in formset %}
                {% if  form.errors %}
                    <tr>

                        {% crispy form helper %}

                    </tr>
                {% endif %}
            {% endfor %}

            {% for form in formset %}
                {% if not form.errors %}

                    <tr>
                        {% crispy form helper %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "metronic/inputs.html" %}
{% endspecialspaceless %}
