{% load sitetree %}
{% if sitetree_items|length_is:"1" %}
{% else %}
<ul class="page-breadcrumb breadcrumb">
    {% for item in sitetree_items %}
        {% if not forloop.last %}
            <li><a href="{% sitetree_url for item %}">{{ item.title_resolved }}</a><i class="fa fa-circle"></i></li>
        {% else %}
            <li><span class="active">{{ item.title_resolved }}</span></li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}