{% load sitetree %}
<ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    {% for item in sitetree_items %}
        {% if item.inheading %}
        <li class="heading">
            <h3 class="uppercase">{{ item.title_resolved }}</h3>
        </li>
        {% else %}
        <li class="navitem {% if item.has_children %}start{% endif %} {% if item.is_current or item.in_current_branch %}active{% endif %}">
            <a href="{% if item.has_children %}javascript:;{% else %}{% sitetree_url for item %}{% endif %}" class="{% if item.has_children %}nav-link nav-toggle{% else %}nav-link{% endif %}">
                <i class="{{ item.tree_icon.css_class }}"></i>
                <span class="title">{{ item.title_resolved }}</span>
                {% if item.has_children %}<span class="arrow"></span>{% endif %}
            </a>
            {% if item.has_children %}
                {% sitetree_children of item for menu template "sitetree/menu_bootstrap3_dropdown_metronic.html" %}
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
</ul>