{% load sitetree %}
<ul class="sub-menu">
    {% for item in sitetree_items %}
        <li class="nav-item {% if item.is_current or item.in_current_branch %}active{% endif %}">
            <a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} class="nav-link">
                <i class="{{ item.tree_icon.css_class }}"></i>
                <span class="title">{{ item.title_resolved }}</span>
            </a>
        </li>
    {% endfor %}
</ul>