{% load currency %}
<div class="row">
    <div class="col-md-6">
        {% if object.tax_totals %}
        <div class="well">
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Base de ICMS: </div>
                <div class="col-md-3 value"> {{ object.tax_totals.icms_base_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor de ICMS: </div>
                <div class="col-md-3 value"> {{ object.tax_totals.icms_value_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Base de ICMS ST: </div>
                <div class="col-md-3 value"> {{ object.tax_totals.icmsst_base_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor de ICMS ST: </div>
                <div class="col-md-3 value"> {{ object.tax_totals.icmsst_value_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Base de IPI: </div>
                <div class="col-md-3 value"> {{ object.tax_totals.ipi_base_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor de IPI: </div>
                <div class="col-md-3 value"> {{ object.tax_totals.ipi_value_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Base de PIS/COFINS: </div>
                <div class="col-md-3 value"> {{ object.tax_totals.pis_base_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor de PIS: </div>
                <div class="col-md-3 value"> {{ object.tax_totals.pis_value_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor de COFINS: </div>
                <div class="col-md-3 value"> {{ object.tax_totals.cofins_value_total | currency }}</div>
            </div>
            {% if object.totals %}
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">TOTAL de Tributos (Fonte: IBPT): </div>
                <div class="col-md-3 value"> {{ object.totals.taxes_value_total | currency }}</div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        {% if object.totals %}
        <div class="well">
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor dos Produtos: </div>
                <div class="col-md-3 value"> {{ object.totals.goods_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor dos Serviços: </div>
                <div class="col-md-3 value"> {{ object.totals.services_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor do Frete: </div>
                <div class="col-md-3 value"> {{ object.totals.freight_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor do Seguro: </div>
                <div class="col-md-3 value"> {{ object.totals.insurance_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor do Desconto: </div>
                <div class="col-md-3 value"> {{ object.totals.discount_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">Valor de Outras Deduções: </div>
                <div class="col-md-3 value"> {{ object.totals.deductions_total | currency }}</div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name">TOTAL do Documento: </div>
                <div class="col-md-3 value"> {{ object.totals.document_total | currency }}</div>
            </div>
        </div>
        {% endif %}
    </div>
</div>