{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load sitetree %}

{% block content %}
<div class="portlet light bordered">
    {% sitetree_portlet from "maintree" %}
    <div class="portlet-body form">
        <form method="post" action="">
            {% crispy form %}
            <div class="form-actions">
                <div class="row"> <div class="col-md-6"> <div class="row"> <div class="col-md-offset-3 col-md-9">
                    {% if nfe.nfe_status_id == 100 %}
                    <input type="submit" name="submit" value="Confirmar Cancelamento" class="btn btn-primary red-mint" id="submit-id-submit" />
                    {% endif %}
                    <a href="{% url 'nfe:out-update' nfe.pk %}" class="btn btn-default"><i class="fa fa-angle-left"></i> Voltar </a>
                </div></div> </div> </div>
                <div class="col-md-6"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
{% endblock %}