{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load sitetree %}
{% load dictionary %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tab-pane">
            <div class="portlet light bordered">
                {% sitetree_portlet from "maintree" %}
                <div class="portlet-body form">
                    <form method="post">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs nav-tabs-lg">
                            <li class="{{ active|get_item:'form' }}">
                                <a href="#tab_product" data-toggle="tab"> Informações do Produto </a>
                            </li>
                             <li class="{{ active|get_item:'formset_icmssn' }}">
                                <a href="#tab_icms" data-toggle="tab"> ICMS/ICMS ST </a>
                            </li>
                            <li class="{{ active|get_item:'formset_ipi' }}">
                                <a href="#tab_ipi" data-toggle="tab"> IPI </a>
                            </li>
                            <li class="{{ active|get_item:'formset_piscofins' }}">
                                <a href="#tab_piscofins" data-toggle="tab"> PIS/COFINS </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane {{ active|get_item:'form' }}" id="tab_product">
                                <div class="row">
                                    <div class="col-md-12">
                                    {% crispy form %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane {{ active|get_item:'formset_icmssn' }}" id="tab_icms">
                                {{ icmssn.management_form }}
                                {% crispy icmssn.0 %}
                            </div>
                            <div class="tab-pane {{ active|get_item:'formset_ipi' }}" id="tab_ipi">
                                {{ ipi.management_form }}
                                {% crispy ipi.0 %}
                            </div>
                            <div class="tab-pane {{ active|get_item:'formset_piscofins' }}" id="tab_piscofins">
                                {{ pis.management_form }}
                                {{ cofins.management_form }}
                                {% crispy pis.0 %}
                                {% crispy cofins.0 %}
                            </div>

                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row"> <div class="col-md-6"> <div class="row"> <div class="col-md-offset-3 col-md-9">
                            <input type="submit" name="submit" value="Salvar" class="btn btn-primary btn green" id="submit-id-submit" />
                            <a href="{% url 'nfe:in-update' nfe_pk %}" class="btn btn-default"><i class="fa fa-angle-left"></i> Voltar </a>
                        </div></div> </div> </div>
                        <div class="col-md-6"></div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
{% if object.id %}
    <link href={% static "assets/global/plugins/datatables/datatables.min.css" %} rel="stylesheet" type="text/css" />
    <link href={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" %} rel="stylesheet" type="text/css" />
{% endif %}
<link href={% static "assets/global/plugins/select2/select2.css" %} rel="stylesheet" type="text/css"/>
<link href={% static "assets/global/plugins/select2/select2-bootstrap.css" %} rel="stylesheet" type="text/css"/>
<link href={% static "assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
<script src={% static "assets/global/plugins/select2/select2.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %} type="text/javascript"></script>
{#{% if object.id %}#}
    <script src={% static "assets/global/plugins/js.cookie.min.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/scripts/datatable_custom.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/plugins/datatables/datatables.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %} type="text/javascript"></script>
    <script src={% static "assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %} type="text/javascript"></script>
{#{% endif %}#}
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
<script src={% static "assets/apps/nextify/scripts/document/nfe/nfeline.in.js" %} type="text/javascript"></script>

{% endblock %}