<div class="portlet light">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-gift"></i>Form Sample </div>
        <div class="tools"><a href="javascript:;" class="collapse"> </a></div>
    </div>

    <div class="portlet-body">
        <div class="tabbable-bordered">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#portlet_tab1" data-toggle="tab"> General </a>
                </li>
                <li>
                    <a href="#portlet_tab2" data-toggle="tab"> Meta </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_tab1">
                    <div class="form-body">
                        <input id="id_productsupplier_set-TOTAL_FORMS" name="productsupplier_set-TOTAL_FORMS" type="hidden" value="1" /><input id="id_productsupplier_set-INITIAL_FORMS" name="productsupplier_set-INITIAL_FORMS" type="hidden" value="1" /><input id="id_productsupplier_set-MIN_NUM_FORMS" name="productsupplier_set-MIN_NUM_FORMS" type="hidden" value="1" /><input id="id_productsupplier_set-MAX_NUM_FORMS" name="productsupplier_set-MAX_NUM_FORMS" type="hidden" value="1000" />
                        <input type='hidden' name='csrfmiddlewaretoken' value='H8Y7e76tnnrIhv7fiJsLTaFekOkPYScy' /> <h3 class="form-section">Informações do Produto</h3>
                        <div class="row" >
                            <div class="col-md-6">
                                <div id="div_id_code" class="form-group ">
                                    <label for="id_code" class="control-label col-md-3 ">Código</label>
                                    <div class="col-md-9 "> <input class="form-control" id="id_code" maxlength="60" name="code" type="text" value="82.00001.00001" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div id="div_id_description" class="form-group "> <label for="id_description" class="control-label col-md-3 ">Descrição
                                    </label>
                                    <div class="col-md-9 "> <input class="form-control" id="id_description" maxlength="255" name="description" type="text" value="Produto teste 1" /></div>
                                </div>
                            </div>
                        </div>

                        <div class="row" >
                            <div class="col-md-6" > <div id="div_id_type" class="form-group "> <label for="id_type" class="control-label col-md-3  requiredField">
                                        Tipo<span class="asteriskField">*</span> </label> <div class="col-md-9 "> <select class="form-control" id="id_type" name="type">
                                <option value="">---------</option>
                                <option value="0" selected="selected">Mercadoria para revenda</option>
                                <option value="1">Matéria Prima</option>
                                <option value="2">Embalagem</option>
                                <option value="3">Produto em Processo</option>
                                <option value="4">Produto Acabado</option>
                                <option value="5">Subproduto</option>
                                <option value="6">Produto Intermediário</option>
                                <option value="7">Material de Uso e Consumo</option>
                                <option value="8">Ativo Imobilizado</option>
                                <option value="9">Serviços</option>
                                <option value="10">Outros Insumos</option>
                                <option value="99">Outros</option>
                                </select> </div> </div> </div>
                        <div
                            class="col-md-6" > <div id="div_id_category" class="form-group "> <label for="id_category" class="control-label col-md-3  requiredField">
                                        Categoria<span class="asteriskField">*</span> </label> <div class="col-md-9 "> <select class="form-control" id="id_category" name="category">
                        <option value="">---------</option>
                        <option value="1" selected="selected">00001 - Categoria Teste</option>
                        </select> </div> </div> </div>

                        </div>

                        <div  class="row" >
                            <div
                            class="col-md-6" > <div id="div_id_genre" class="form-group "> <label for="id_genre" class="control-label col-md-3  requiredField">
                                        Gênero<span class="asteriskField">*</span> </label> <div class="col-md-9 "> <select class="form-control" id="id_genre" name="genre">
                            <option value="">---------</option>
                            <option value="39">Plásticos e suas obras</option>
                            <option value="82" selected="selected">Ferramentas, artefatos de cutelaria e talheres, e suas partes, de metais comuns</option>
                            <option value="83">Obras diversas de metais comuns</option>
                            </select> </div> </div> </div>
                            <div
                                class="col-md-6" > <div id="div_id_ncm_classification" class="form-group "> <label for="id_ncm_classification" class="control-label col-md-3  requiredField">
                                            Class. NCM<span class="asteriskField">*</span> </label> <div class="col-md-9 "> <input  class="form-control ncmselect" data-ajax-url="/ncm/lookup/" data-multiple="" data-required="required" id="id_ncm_classification" name="ncm_classification" type="hidden" value="4429"> </div> </div> </div>

                        </div>

                        <div class="row" >
                            <div class="col-md-6" > <div id="div_id_base_unit" class="form-group "> <label for="id_base_unit" class="control-label col-md-3  requiredField">
                                        Unidade<span class="asteriskField">*</span> </label> <div class="col-md-9 "> <select class="form-control" id="id_base_unit" name="base_unit">
                                <option value="">---------</option>
                                <option value="1" selected="selected">UN - Unidade</option>
                                </select> </div> </div> </div>
                            <div  class="col-md-6" > <div id="div_id_base_unit_ean" class="form-group "> <label for="id_base_unit_ean" class="control-label col-md-3 ">
                                            Código EAN
                                    </label> <div class="col-md-9 "> <input class="form-control" id="id_base_unit_ean" maxlength="14" name="base_unit_ean" type="text" /> </div> </div> </div>

                        </div>
                        <div class="row" > <div
                                class="col-md-6" > <div id="div_id_base_net_weight" class="form-group "> <label for="id_base_net_weight" class="control-label col-md-3 ">
                                            Peso Líquido
                                        </label> <div class="col-md-9 "> <input class="form-control numberinput" id="id_base_net_weight" name="base_net_weight" step="0.001" type="number" value="1.500" /> </div> </div> </div>
                            <div
                                class="col-md-6" > <div id="div_id_base_gross_weight" class="form-group "> <label for="id_base_gross_weight" class="control-label col-md-3 ">
                                            Peso Bruto
                                        </label> <div class="col-md-9 "> <input class="form-control numberinput" id="id_base_gross_weight" name="base_gross_weight" step="0.001" type="number" value="1.600" /> </div> </div> </div>

                        </div>
                        <h5 class="form-section">Unidade de Controle</h5>
                        <div class="row" >
                            <div class="col-md-offset-1 col-md-2" >
                                <div class="form-group">
                                    <div id="div_id_control_unit_base" class="checkbox"> <label for="id_control_unit_base" class=""> <input type="checkbox" name="control_unit_base" class="checkboxinput" id="id_control_unit_base">
                                            Igual à unidade base</label> </div> </div> </div>
                            <div
                                class="col-md-3" > <div id="div_id_control_unit" class="form-group "> <label for="id_control_unit" class="control-label col-md-3 ">
                                            Unidade de Controle
                                        </label> <div class="col-md-9 "> <select class="form-control" id="id_control_unit" name="control_unit">
                            <option value="">---------</option>
                            <option value="1" selected="selected">UN - Unidade</option>
                            </select> </div> </div> </div>
                            <div
                                class="col-md-3" > <div id="div_id_control_unit_factor" class="form-group "> <label for="id_control_unit_factor" class="control-label col-md-3 ">
                                            Fator de conversão
                                        </label> <div class="col-md-9 "> <input class="form-control numberinput" id="id_control_unit_factor" name="control_unit_factor" step="0.000001" type="number" value="1.000000" /> </div> </div> </div>
                            <div
                                class="col-md-3" > <div id="div_id_control_unit_ean" class="form-group "> <label for="id_control_unit_ean" class="control-label col-md-3 ">
                                            Código EAN
                                    </label> <div class="col-md-9 "> <input class="form-control" id="id_control_unit_ean" maxlength="14" name="control_unit_ean" type="text" /> </div> </div> </div>
                            </div>

                        <h5 class="form-section">Unidade de Compra</h5>

                        <div class="row">
                            <div class="col-md-offset-1 col-md-2">
                                <div class="form-group">
                                    <div id="div_id_purchase_unit_base" class="checkbox">
                                        <label for="id_purchase_unit_base" class="">
                                            <input type="checkbox" name="purchase_unit_base" checked class="checkboxinput" id="id_purchase_unit_base">Igual à unidade base
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" >
                                <div id="div_id_purchase_unit" class="form-group ">
                                    <label for="id_purchase_unit" class="control-label col-md-3 ">Unidade de Compra
                                    </label>
                                    <div class="col-md-9 ">
                                        <select class="form-control" id="id_purchase_unit" name="purchase_unit">
                                            <option value="">---------</option>
                                            <option value="1" selected="selected">UN - Unidade</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3" >
                                <div id="div_id_purchase_unit_factor" class="form-group ">
                                    <label for="id_purchase_unit_factor" class="control-label col-md-3 ">Fator de conversão
                                    </label>
                                    <div class="col-md-9 ">
                                        <input class="form-control numberinput" id="id_purchase_unit_factor" name="purchase_unit_factor" step="0.000001" type="number" value="1.000000" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div id="div_id_purchase_unit_ean" class="form-group ">
                                    <label for="id_purchase_unit_ean" class="control-label col-md-3 ">Código EAN
                                    </label>
                                    <div class="col-md-9 ">
                                        <input class="form-control" id="id_purchase_unit_ean" maxlength="14" name="purchase_unit_ean" type="text" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <h5 class="form-section">Unidade de Venda</h5>

                        <h5 class="form-section">Unidade Tributável</h5>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <input type="submit" name="submit" value="Salvar" class="btn btn-primary btn green" id="submit-id-submit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="tab-pane" id="portlet_tab2">
                        
                            <tr><th><label for="id_productsupplier_set-0-supplier">Supplier:</label></th><td><select id="id_productsupplier_set-0-supplier" name="productsupplier_set-0-supplier">
<option value="">---------</option>
<option value="1" selected="selected">Carlos Meira Tavares</option>
</select></td></tr>
<tr><th><label for="id_productsupplier_set-0-supplier_code">Codigo do Fornecedor:</label></th><td><input id="id_productsupplier_set-0-supplier_code" maxlength="60" name="productsupplier_set-0-supplier_code" type="text" value="gfdgdfg45543" /></td></tr>
<tr><th><label for="id_productsupplier_set-0-DELETE">Delete:</label></th><td><input id="id_productsupplier_set-0-DELETE" name="productsupplier_set-0-DELETE" type="checkbox" /><input id="id_productsupplier_set-0-id" name="productsupplier_set-0-id" type="hidden" value="5" /><input id="id_productsupplier_set-0-product" name="productsupplier_set-0-product" type="hidden" value="1" /></td></tr>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>