{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load sitetree %}
{% block content %}

<div class="tab-pane">
    <div class="portlet light bordered">
        {% sitetree_portlet from "maintree" %}
        <div class="portlet-body form">
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
<script src={% static "assets/apps/nextify/scripts/location/location.js" %} type="text/javascript"></script>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
<link href={% static "assets/global/plugins/select2/select2.css" %} rel="stylesheet" type="text/css"/>
<link href={% static "assets/global/plugins/select2/select2-bootstrap.css" %} rel="stylesheet" type="text/css"/>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
<script type="text/javascript" src={% static "assets/global/plugins/select2/select2.min.js" %}></script>
{% endblock %}