{% load staticfiles %}
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-directions font-grey-mint"></i>
            <span class="caption-subject font-grey-mint sbold"> Listagem de Endereços </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-container">
            <div class="table-actions-wrapper">
                <span>
                </span>
                <div class="actions">
                    <a href="{% url 'address:shippingcompany-create' object.id %}" class="btn btn-sm btn-info">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-xs"> Cadastrar Endereço </span>
                    </a>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover" id="default_datatable" ajax-url="{% url 'address:shippingcompany-list-json' object.id %}">
            <thead>
                <tr role="row" class="heading">
                    <th width="1%">#</th>
                    <th>Descrição</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End: life time stats -->