{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load dictionary %}
{% block content %}
{#<div class="tab-pane">#}
    <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
            <div class="caption">
                <i class="icon-basket"></i>
                {% if object.id %}
                <span class="caption-subject font-blue-ebonyclay sbold">Atualizar Produto #{{ object.code }} | {{ object.description }}</span>
                {% else %}
                <span class="caption-subject font-blue-ebonyclay sbold">Cadastro de Produto </span>
                {% endif %}
            </div>
                <ul class="nav nav-tabs">
                    {% if object.id %}
                    <li class="{{ active|get_item:'formset_pricing' }}">
                        <a href="#portlet_tab_pricing" data-toggle="tab"> Tabela de Preços </a>
                    </li>
                    <li class="{{ active|get_item:'formset_suppliers' }}">
                        <a href="#portlet_tab_suppliers" data-toggle="tab"> Fornecedores </a>
                    </li>
                    {% endif %}
                    <li class="{{ active|get_item:'form' }}">
                        <a href="#portlet_tab_general" data-toggle="tab"> Informações Gerais </a>
                    </li>
                </ul>
        </div>
        <div class="portlet-body form">
            <form method="post" >
                <div class="tab-content">
                    <div class="tab-pane {{ active|get_item:'form' }}" id="portlet_tab_general">
                        {% crispy form %}
                    </div>
                    {% if object.id %}
                    <input type="hidden" value="{{ object.id }}" id="product_id">
                    <div class="tab-pane {{ active|get_item:'formset_suppliers' }}" id="portlet_tab_suppliers">
                        {{ formset_suppliers.management_form }}
                        <h4 class="form-section">Listagem de Fornecedores</h4>
                        <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
                            <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn btn-success add-supplier">
                            <i class="fa fa-plus"></i> Incluir Fornecedor</a>
                        </div>
                        <div class="row"><div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12"></div></div>
                        {% include 'metronic/table_inline_formset_nextify.html' with formset=formset_suppliers helper=suppliers_helper %}
                    </div>
                    <div class="tab-pane {{ active|get_item:'formset_pricing' }}" id="portlet_tab_pricing">
                        {{ formset_pricing.management_form }}
                        <h4 class="form-section">Tabelas de Preço</h4>
                        <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
                            <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn btn-success add-pricetable">
                            <i class="fa fa-plus"></i> Incluir Tabela</a>
                        </div>
                        <div class="row"><div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12"></div></div>
                        {% include 'metronic/table_inline_formset_nextify.html' with formset=formset_pricing helper=pricing_helper %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" name="submit" value="Salvar" class="btn btn-primary btn green" id="submit-id-submit"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
<script src={% static "assets/pages/scripts/form-samples.min.js" %} type="text/javascript"></script>
<script src={% static "assets/apps/nextify/scripts/ncm/ncm.js" %} type="text/javascript"></script>
<script src={% static "assets/apps/nextify/scripts/catalogue/product.js" %} type="text/javascript"></script>
    {% if object.id %}
    <script type="text/html" id="supplier_template">
    {% include 'metronic/table_inline_formset_nextify_empty.html' with form=formset_suppliers.empty_form helper=suppliers_helper %}
    </script>

    <script type="text/html" id="pricing_template">
    {% include 'metronic/table_inline_formset_nextify_empty.html' with form=formset_pricing.empty_form helper=pricing_helper %}
    </script>
{% endif %}
{% endblock %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
<link href={% static "assets/global/plugins/select2/select2.css" %} rel="stylesheet" type="text/css"/>
<link href={% static "assets/global/plugins/select2/select2-bootstrap.css" %} rel="stylesheet" type="text/css"/>
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
<script type="text/javascript" src={% static "assets/global/plugins/select2/select2.min.js" %}></script>
{% endblock %}