{% extends "base.html" %}
{% load staticfiles %}
{% load sitetree %}
{% block content %}
<!-- Begin: life time stats -->
<div class="portlet light portlet-fit portlet-datatable bordered">
    {% sitetree_portlet from "maintree" %}
    <div class="portlet-body">
        <div class="table-container">
            <div class="table-actions-wrapper">
                <span>
                </span>
                <div class="actions">
                    <a href="{% url 'product:create' %}" class="btn btn-sm btn-info">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-xs"> Cadastrar Produto </span>
                    </a>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover" id="default_datatable" ajax-url="{% url 'product:list-json' %}">
            <thead>
                <tr role="row" class="heading">
                    <th width="1%">#</th>
                    <th width="15%">Código</th>
                    <th>Descrição</th>
                    <th>Quantidade em Estoque</th>
                    <th>Valor de Venda</th>
                    <th width="5%"></th>

                </tr>
                <tr role="row" class="filter">
                    <td></td>
                    <td><input type="text" class="form-control form-filter input-sm" name="product_code"></td>
                    <td><input type="text" class="form-control form-filter input-sm" name="product_description"></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="margin-bottom-5">
                            <button class="btn btn-sm btn-success filter-submit margin-bottom">
                                <i class="fa fa-search"></i> Pesquisar</button>
                        </div>
                        <button class="btn btn-sm btn-default filter-cancel"><i class="fa fa-times"></i> Limpar</button>

                    </td>

                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End: life time stats -->
{% endblock content %}

{% block PAGE_LEVEL_PLUGINS_CSS %}
<link href={% static "assets/global/plugins/datatables/datatables.min.css" %} rel="stylesheet" type="text/css" />
<link href={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" %} rel="stylesheet" type="text/css" />
{% endblock %}

{% block PAGE_LEVEL_PLUGINS %}
<script src={% static "assets/global/plugins/js.cookie.min.js" %} type="text/javascript"></script>
<script src={% static "assets/global/scripts/datatable_custom.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/datatables/datatables.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" %} type="text/javascript"></script>
<script src={% static "assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %} type="text/javascript"></script>
{% endblock %}

{% block PAGE_LEVEL_SCRIPTS %}
{% endblock %}